/*Normalizing Rules*/
* {
box-sizing: border-box;
}

body, html {

	min-height: 100vh;
	margin:0;
	font-family: 'Comfortaa', cursive;
	background-color: #f2f2f2;

}

body {
	display: flex;
	flex-direction: column;
}

img {

	max-width: 100%;
}

header{
	background-color: #EBEBEB;
	border-bottom: 1px solid grey;
	padding: 10px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.logo {
	background-image: url(../images/Clown.png);
	width: 50px;
	height: 50px;
	background-size: 100%;
}

nav ul {

	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	grid-gap: 30px;
}

nav a{

	color: #DD6158;
}
nav a:link {
	padding: 5px 15px;
	text-decoration: none;
	background-color: #F7D572 ;
	
}


nav a:hover {

	background-color: #DD6158;
	text-decoration: underline;
	color: #F7D572;
}

main {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	font-size: 28px;
}

.joke {

	text-align: center;
	cursor: url(../images/cursor.png), auto;


}

/*.joke:hover{

	cursor: url(../images/cursor.png);

}*/

.joke p:not(:first-child){
	display: none;
}



footer {
	display: grid;
	grid-template-columns: 300px 300px;
	justify-content: center;
	grid-gap: 50px;
	align-items:flex-end;

}
.credits {
	text-align: right;
}
footer a {

	color: #DD6158;
	text-decoration: none;

}