/*Normalizing Rules*/
* {
box-sizing: border-box;
}

body, html {

	min-height: 100vh;
	margin:0;
	font-family: 'Architects Daughter', cursive;
	padding: 0px 30px;

}

body {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}

img {

	max-width: 100%;
}

header{

	padding: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	background-image: url(../images/Clown.png);
	width: 50px;
	height: 50px;
	background-size: 100%;
}

nav ul {

	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	grid-gap: 30px;


}



footer {
	display: grid;
	grid-template-columns: 300px 300px;
	justify-content: center;
	grid-gap: 50px;

}
.credits {
	text-align: right;
}