/*Normalizing Rules*/
* {
box-sizing: border-box;
}

body, html {

	min-height: 100vh;
	margin:0;
	font-family: 'Comfortaa', cursive;

}

a{

	color: #DD6158;
}
a:link {
	padding: 5px 15px;
	text-decoration: none;
	background-color: #F7D572 ;
	
}


a:hover {

	background-color: #DD6158;
	text-decoration: underline;
	color: #F7D572;
}



body {
	display: flex;
	flex-direction: column;
}

img {

	max-width: 100%;
}

header{
	border-bottom: 1px solid grey;
	padding: 10px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	background-image: url(../images/Clown.png);
	width: 50px;
	height: 50px;
	background-size: 100%;
}

nav ul {

	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	grid-gap: 30px;
}

main {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	font-size: 28px;
}

.joke {

	cursor: url(../images/Clown.png), auto;
}



footer {
	display: grid;
	grid-template-columns: 300px 300px;
	justify-content: center;
	grid-gap: 50px;
	align-items:center;

}
.credits {
	text-align: right;
}